body {
    font-family: "Century Gothic", arial, sans-serif;
    background-color: #ecf0f1;
}

img {
    margin: 10px;
}

#maskin {
    margin-left: 110px;
}

.innpakning {
    width: 980px;
    margin: 120px auto;
    font-size: 0;
}

#stein, #saks, #papir {
    cursor: pointer;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    border: 3px solid #333;
    background-color: #333;
    left: -5px;
    top: -5px
}

aside {
    width: 200px;
    height: 100%;
    background-color: #1a1a1a;
    position: fixed;
    left: 0px;
    top: 80px;
}

h4 {
    color:white;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
}

footer {
    position: fixed;
    width: 200px;
    bottom: 0px;
    margin: auto;
    margin-top: 10px;
    border-top: 1px solid white;
}

@keyframes menuInnAnimation {
    from { left: 0px; }
    to   { left: -200px; }
}

@keyframes menuOutAnimation {
    from { left: -200px; }
    to   { left: 0px; }
}

.clicky {
    cursor: pointer;
}

.p {
    color: white;
    font-family: "Century Gothic", Arial, sans-serif;
    align-self: center;
    padding: 10px;
}

p {
    font-size: 21px;
}